{% load static %}

<div class="mobile-app padding-site">
            <div class="mobile-app-content">
                <p class="mobile-app-mobile">mobile app</p>
                <h2 class="mobile-app-h2">Find. Follow.<br>Favorite.</h2>
                <p class="mobile-app-text">Save your favorites and share your style.</p>
                <a class="mobile-app-img" href="#">
                    <img src="{% static 'img/app-store.png' %}" alt="app-store">
                </a>
                <a class="mobile-app-img" href="#">
                    <img src="{% static 'img/google-play.png' %}" alt="google-play">
                </a>
            </div>
        </div>