{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ page_title|default:'home'|title }}</title>
    {% block my_css %}
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&display=swap" rel="stylesheet">
    {% endblock %}
    {% block js %}
        <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
        <script src="{% static 'js/shopcart_scripts.js' %}"></script>
    {% endblock %}
</head>
<body>
    <div class="container">
        <div class="header clearfix">
            <a href="{% url 'main:index' %}">
                <img src="{% static 'img/logo.png' %}" alt="logo">
            </a>
            <a href= "{% url 'main:index' %}" class="form-control">
                Home
            </a>
        </div>
        <div class="header-tab-control clearfix">
            <h1 class="header-h1"><strong>{{ user.first_name|default:'user'|title }}</strong> here is your shopping bag</h1>
        </div>
        <div class="shopping_bag_content">
            {% block content %}
            {% endblock %}
        </div>
        <div class="clr"></div>
    </div>
    <footer class="footer padding-site">
        <div class="footer-top">
            <div class="contact-us">
                <h3 class="footer-h3">Contact us</h3>
                <p class="footer-text">3589 Massachusets Ave NW<br> Washington DC 20007, US.</p>
                <p class="footer-text">Talk to us on 1300 132<br>info@hautelook.com</p>
            </div>
            <div class="useful-info">
                <h3 class="footer-h3">Useful Information</h3>
                <ul class="useful-info-l">
                    <li class="useful-info-list">
                        <a href="#" class="useful-info-link">
                            About us
                        </a>
                    </li>
                    <li class="useful-info-list">
                        <a href="#" class="useful-info-link">
                            FAQ'S
                        </a>
                    </li>
                    <li class="useful-info-list">
                        <a href="#" class="useful-info-link">
                            Gift card
                        </a>
                    </li>
                    <li class="useful-info-list">
                        <a href="#" class="useful-info-link">
                            Returns
                        </a>
                    </li>
                    <li class="useful-info-list">
                        <a href="#" class="useful-info-link">
                            Size guide
                        </a>
                    </li>
                    <li class="useful-info-list">
                        <a href="#" class="useful-info-link">
                            Shipping & Delivery
                        </a>
                    </li>
                </ul>
            </div>
            <div class="stay-in-touch">
                <h3 class="footer-h3">Let’s Stay in Touch!</h3>
                <p class="footer-text">Subscribe for updates.</p>
                <div class="email-form">
                    <form action="#">
                        <input class="email-ft" type="text" placeholder="Sign up for 10% Off">
                        <button class="send" type="submit"><img src="{% static 'img/paper-plane.png' %}" alt="paper-plane"></button>
                    </form>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p class="copyright">© Copyright - HAUTELOOK {% now "DATE_FORMAT" %}.<br> All Rights Reserved.</p>
            <ul class="social-links">
                <li class="social-links-list">
                    <a class="social-links-icon facebook" href="#">
                    </a>
                </li>
                <li class="social-links-list">
                    <a class="social-links-icon twitter" href="#">
                    </a>
                </li>
                <li class="social-links-list">
                    <a class="social-links-icon googleplus" href="#">
                    </a>
                </li>
                <li class="social-links-list">
                    <a class="social-links-icon pinterest" href="#">
                    </a>
                </li>
            </ul>
            <a href="#" class="terms">Terms & Conditions / Privacy policy & Cookies</a>
        </div>
    </footer>
</body>
</html>